@inherits LayoutComponentBase

<div class="page" style="height: 100vh; display: inline-flex; overflow: hidden">
    <div class="sidebar">
        <NavMenu />
    </div>

    <div class="main" style="height: 100vh; width: 100vw">
        <div class="content px-4" style="height: 100vh">
            @Body
        </div>
    </div>
</div>
